<h2>Editar Paciente:</h2>
{{#each pacientes}}
<div class="card mt-4">
    <form action="/admin/pacientes/edit" method="POST">
    <input type="hidden" name="id" value="{{_id}}">

    <p>Nome: </p>
    <input type="text" name="Nome" class="form-control" value="{{nome}}">
    <p>Endereço: </p>
    <input type="text" name="Endereco" class="form-control" value="{{endereco}}">
    <p>Numero: </p>
    <input type="number" name="Numero" class="form-control" value="{{numero}}">
    <p>Bairro: </p>
    <input type="text" name="Bairro" class="form-control" value="{{bairro}}">
    <p>Cidade: </p>
    <input type="text" name="Cidade" class="form-control" value="{{cidade}}">
    <p>Estado: </p>
    <input type="text" name="Estado" class="form-control" value="{{estado}}">
    <p>Telefone: </p>
    <input type="text" name="Telefone" class="form-control" value="{{telefone}}">
    <p>Email: </p>
    <input type="text" name="Email" class="form-control" value="{{email}}">
    <p>Data de Nascimento: </p>
    <input type="text" name="Data" class="form-control" value="{{Data}}">
    <p>cpf: </p>
    <input type="text" name="cpf" class="form-control" value="{{cpf}}">
    <p>Diagnostico: </p>
    <textarea name="Diagnostico" class="form-control" value="{{diagnostico}}"></textarea>
    <button type="submit" class="btn btn-success">Editar Paciente</button>
</form>
</div>

{{else}}

{{/each}}
